/* css color var */


:root {
    --brand-color: orange;
  }
  
  
main, nav{
    margin: 160px;
    margin-top: 40px;
    margin-bottom: 0;
}
main{
    min-height: 500px;
    padding-bottom: 30px;
}

.navbar-bg{
    background: #ffffff00;
}

nav.navbar.navbar-expand-lg.navbar-light  a.navbar-brand{
    font-weight: 700;
    color: var(--brand-color);
    font-size: 30px;
    font-family: cursive;
}

nav.navbar.navbar-expand-lg.navbar-light >  .container-fluid{
    margin: 0!important;
}
div.collapse   [type="search"]{
    width: 300px
 }
.dropdown{
    width: 100%;
}
.dropdown .dropdown-menu{
    overflow-y: auto;
    max-height: 400px;
}
.dropdown .dropdown-menu .dropdown-item{
    white-space: pre-wrap;
    display: -webkit-box;
    flex-direction: column;
    align-content: flex-start;
    flex-shrink: 0;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    margin: 0px;
}
.container{
    justify-content: center;
    align-items: center;
}
#firm{
    display: block;
    padding: 40px;
    color: white;
    text-align: center;
}
footer{
    min-height: 400px;
    background-color: rgb(27, 27, 27);
    width: 100%;
    z-index: 999;
    position: static;
}
/* phone / table view */
@media (max-width: 997px){ 
    main, nav{
        margin: 40px;
        margin-top: 30px;
        margin-bottom: 0;
    }
    div.collapse  form.d-flex.ms-4{
        margin: 0;
        margin-right: 0;
        margin-left: 0!important;
    }
    div.collapse   [type="search"]{
       width: 100%;
       margin: 0;
    }


}